.side_bar{
  width:300px;
  background-color: #253141;

  &__user{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100px;

    &__name_box{
      color:#253141;
      font-size: 16px;
      height:20px;
      width:260px;
      background-color: #253141;
      display:flex;
      justify-content: space-between;

      &__user_name{
        color:#ffffff;
        line-height:20px;
        }
      
      &__icons{
        &__edit{
          color:#ffffff;
        }
        &__gear{
          margin-left:5px;
          color:#ffffff;
        }
      }
      }

    }
  
  

  &__group_list{
    background-color: #2f3e51;
    height:calc(100vh - 100px);
    &__group{
      height:91px;
      width:300px;
      
      &__name{
        font-size: 15px;
        color:#ffffff;
        
        padding:20px 20px 5px 20px;
      }
      &__message{
        font-size: 11px;
        color: #ffffff;

        padding :0px 20px 40px 20px;
      }
    }
    
  }
}